@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-weight: bold;
}

li {
  list-style: none;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.border {
  border: 2.5px solid black;
}

.center {
  margin: 0 auto;
}

header {
  top: 0.2rem;
  left: 2.5vw;
  right: 2.5vw;
  position: fixed;
}

h3.icon,
footer p {
  animation: rotateZ 5s;
}

@keyframes rotateZ {
  to {
    transform: rotate(360deg);
  }
}

.bar-hero,
footer {
  justify-content: space-between;
  width: 95vw;
  padding: 0.5rem;
  background-color: darkblue;
  color: #fff;
}

.nav {
  gap: 0.5rem;
  transition: all ease-in-out 250ms;
  cursor: pointer;
}

.nav li {
  opacity: 1;
  border-radius: 0.2rem;
}

.contact-inform ul li {
  list-style: disc inside;
  font-weight: bold;
  margin: 1rem;
  color: #000;
}

.nav li:nth-child(1):hover {
  background-color: red;
}

.nav li:nth-child(2):hover {
  background-color: darkred;
}

.nav li:nth-child(3):hover {
  background-color: rgb(215, 18, 51);
}

.date {
  width: max-content;
  margin-left: auto;
  margin-top: 0.2rem;
  color: darkorange;
}

main {
  margin-top: 5rem;
}

.awesome,
h2 {
  margin: 1rem 0 2rem 0;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  color: darkblue;
}

.awesome {
  margin: 9rem 0 2rem 0;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.list-books {
  width: 90vw;
}

.library-book {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.3rem;
  padding-right: 1rem;
}

.book-title,
.book-author {
  text-transform: capitalize;
}

form button {
  float: right;
}

.library-book .btn-rmv,
form button {
  padding: 0.1rem 0.3rem;
  box-shadow: 3px 3px 3px black;
  background-color: darkblue;
  color: #fff;
}

.library-book button {
  margin-left: auto;
}

.library-book:nth-child(odd) {
  background-color: rgb(225, 223, 223);
}

form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 8rem;
  position: absolute;
  visibility: hidden;
}

form * {
  margin-top: 1rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
}

h2 {
  margin-top: 10rem;
}

form h2 span {
  border-top: 2px solid black;
  padding-top: 1rem;
}

.errorMsg {
  color: red;
}

.contact-inform {
  position: absolute;
  visibility: hidden;
  width: 80vw;
  margin-top: 10rem;
  text-align: center;
}

.contact-inform h2 {
  margin-bottom: 2rem;
}

.contact-inform p {
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0.2rem;
  left: 2.5vw;
  right: 2.5vw;
}

.show {
  position: static;
  visibility: visible;
}

.hide {
  position: absolute;
  visibility: hidden;
}
